{% extends "base.html" %}
{% block content %}
<form method="POST" action="{{ url_for('download', name=name) }}">
    <div class="mx-auto p-4">
        <div class="row d-flex">
            <!-- Left Column (Form Section) -->
            <div class="col-md-6">
                {% set options_map = {
                    'Home Area': data[0],'Avatar Gender': data[1],
                    'BGM Volume': data[2],'Selected Cup': data[7],
                    'Tachometer': data[8],'Aura': data[9],
                    'Class': data[10],'Title': data[11]} %}
                {% set disabled_map = ['Game Version','Avatar','Car 1','Car 2','Car 3',
                                       'Courses','Store Name','Number of Cars','Play Count','Story Losses',
                                       'Story Wins','Total In-Store Plays','Total In-Store Wins','Course Proficiency'] %}
                {% set boolean_map = ['Force Quit','Cornering Guide',
                                      'Guide Line','Cup','Barricade',
                                      'Ghost Car', 'Upload Scores'] %}
                {% for key in card %}
                    {% if card[key][1] %}
                        {% if key == 'Game Version' %}
                            <h1 class="text-left">Initial D {{ card[key][0] }} Card Editor</h1>
                        {% else %}
                            <div class="form-group">
                                <label for="key_{{ key }}" class="form-label">{{ key }}:</label>
                                {% if key == 'Wheel Sensitivity' %}
                                    <div class="form-group">
                                        <div class="btn-group" role="group" aria-label="Wheel Sensitivity">
                                            {% for i in range(1, 11) %}
                                                <button type="button" class="btn btn-outline-primary sensitivity-btn {% if card[key][0] == i %}active{% endif %}" data-value="{{ i }}">{{ i }}</button>
                                            {% endfor %}
                                        </div>
                                        <input type="hidden" id="key_{{ key }}" name="key_{{ key }}" value="{{ card[key][0] }}" />
                                    </div>
                                {% elif key in options_map %}
                                    <select id="key_{{ key }}" name="key_{{ key }}" class="form-control">
                                        {% for option in options_map[key] %}
                                            <option value="{{ option }}" {% if card[key][0] == option %} selected {% endif %}>{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif key in disabled_map %}
                                    <input type="text" id="key_{{ key }}" name="key_{{ key }}" value="{{ card[key][0] }}" class="form-control" disabled />
                                {% elif key in boolean_map %}
                                    <div class="form-check">
                                        <input type="checkbox" id="key_{{ key }}" name="key_{{ key }}" value="1" {% if card[key][0] == 1 %}checked{% endif %} class="form-check-input" data-toggle="toggle" />
                                        <input type="hidden" name="key_{{ key }}" value="0" />
                                        <label for="key_{{ key }}" class="form-check-label">Enabled</label>
                                    </div>
                                {% else %}
                                    <input type="text" id="key_{{ key }}" name="key_{{ key }}" value="{{ card[key][0] }}" class="form-control" />
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- Submit Button -->
                <div class="text-left mt-4">
                    <button type="submit" class="btn btn-primary">Apply Changes</button>
                </div>
            </div>
            <!-- Right Column (Other Data Section) -->
            <div class="col-md-6">
                <h2 class="text-left">Avatar</h2>
                <div style="width: 256px; height: 256px;">
                    <img class="position-absolute" src="{{ url_for('static', filename='D8/BG/' + str(card['My Frame'][0]) + '_bg.png') }}">
                    <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][0]) + '.png') }}">
                    <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][1]) + '.png') }}">
                    <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][2]) + '.png') }}">
                    <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][3]) + '.png') }}">
                    {% if int(card['Avatar'][0][6]) != 0 %}
                        <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][5]) + '.png') }}">
                        <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][6]) + '_bg.png') }}">
                        <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][6]) + '_fg.png') }}">
                    {% else %}
                        {% if int(card['Avatar'][0][5]) != 0 %}
                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][4]) + '.png') }}">
                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][5]) + '_bg.png') }}">
                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][5]) + '_fg.png') }}">
                        {% else %}
                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][4]) + '_bg.png') }}">
                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'][0] + '/' + str(card['Avatar'][0][4]) + '_fg.png') }}">
                        {% endif %}
                    {% endif %}
                </div>
                <h2 class="text-left">Course Times</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Time</th>
                            <th>Time to Specialist</th>
                            <th>Time to Platinum</th>
                            <th>Car Make</th>
                            <th>Car Model</th>
                            <th>Lap 1</th>
                            <th>Lap 2</th>
                            <th>Lap 3</th>
                            <th>Lap 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in card["Courses"][0] %}
                        <tr>
                            <td>{{ course }}</td>
                            <td>{{ card['Courses'][0][course]["Time"] }}</td>
                            {% if card['Courses'][0][course]["Time"][0] == '0' %}
                                <td>Not Played</td>
                                <td>Not Played</td>
                            {% else %}
                                <td {% if card['Courses'][0][course]["Time to Specialist"][0] == '-' %} class='text-success' {% else %} class='text-danger' {% endif %}>{{ card['Courses'][0][course]["Time to Specialist"] }}</td>
                                <td {% if card['Courses'][0][course]["Time to Platinum"][0] == '-' %} class='text-success' {% else %} class='text-danger' {% endif %}>{{ card['Courses'][0][course]["Time to Platinum"] }}</td>
                            {% endif %}
                            <td>{{ card['Courses'][0][course]["Car Make"] }}</td>
                            <td>{{ card['Courses'][0][course]["Car Model"] }}</td>
                            <td>{{ card['Courses'][0][course]["Lap 1"] }}</td>
                            <td>{{ card['Courses'][0][course]["Lap 2"] }}</td>
                            <td>{{ card['Courses'][0][course]["Lap 3"] }}</td>
                            <td>{{ card['Courses'][0][course]["Lap 4"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script>
    document.querySelectorAll('.sensitivity-btn').forEach(function(button) {
        if (button.classList.contains('active')) {
            var value = button.getAttribute('data-value');
            var hiddenInput = document.getElementById('key_Wheel Sensitivity');
            hiddenInput.value = value;
        }
        button.addEventListener('click', function() {
            var value = this.getAttribute('data-value');
            var hiddenInput = document.getElementById('key_Wheel Sensitivity');
            hiddenInput.value = value;
            document.querySelectorAll('.sensitivity-btn').forEach(function(btn) {
                btn.classList.remove('active');
            });
            this.classList.add('active');
        });
    });
</script>
{% endblock %}
