{% extends "base.html" %}
{% block content %}
<form method="POST" action="{{ url_for('download', name=name) }}">
    <div class="mx-auto p-4">
        <h1 class="text-left">Initial D {{ card['Game Version'] }} Card Editor</h1>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</button>
            <button class="nav-link" id="nav-courseinfo-tab" data-bs-toggle="tab" data-bs-target="#nav-courseinfo" type="button" role="tab" aria-controls="nav-courseinfo" aria-selected="false">Course Info</button>
            <button class="nav-link" id="nav-storyprogress-tab" data-bs-toggle="tab" data-bs-target="#nav-storyprogress" type="button" role="tab" aria-controls="nav-storyprogress" aria-selected="false">Story Progress</button>
            <button class="nav-link" id="nav-cars-tab" data-bs-toggle="tab" data-bs-target="#nav-cars" type="button" role="tab" aria-controls="nav-cars" aria-selected="false">Cars</button>
          </div>
        </nav>
        <div class="tab-content p-2" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row d-flex">
                    <!-- Left Column (Form Section) -->
                    <div class="col-md-6">
                        <div class="form-group">
                            {% set options_map = {
                                'Home Area': data[0],'Avatar Gender': data[1],
                                'BGM Volume': data[2],'Selected Cup': data[7],
                                'Tachometer': data[8],'Aura': data[9],
                                'Class': data[10],'Title': data[11]} %}
                            <label for="key_Home Area" class="form-label">Home Area:</label>
                            <select id="key_Home Area" name="key_Home Area" class="form-control">
                                {% for option in options_map['Home Area'] %}
                                    <option value="{{ option }}" {% if card['Home Area'] == option %} selected {% endif %}>{{ option }}</option>
                                {% endfor %}
                            </select>
                            <label for="key_Wheel Sensitivity" class="form-label">Wheel Sensitivity:</label>
                            <div class="form-group">
                                <div class="btn-group" role="group" aria-label="Wheel Sensitivity">
                                    {% for i in range(1, 11) %}
                                        <button type="button" class="btn btn-outline-primary sensitivity-btn {% if card['Wheel Sensitivity'] == i %}active{% endif %}" data-value="{{ i }}">{{ i }}</button>
                                    {% endfor %}
                                </div>
                                <input type="hidden" id="key_Wheel Sensitivity" name="key_Wheel Sensitivity" value="{{ card['Wheel Sensitivity'] }}" />
                            </div>
                            <label for="key_BGM Volume" class="form-label">BGM Volume:</label>
                            <select id="key_BGM Volume" name="key_BGM Volume" class="form-control">
                                {% for option in options_map['BGM Volume'] %}
                                    <option value="{{ option }}" {% if card['BGM Volume'] == option %} selected {% endif %}>{{ option }}</option>
                                {% endfor %}
                            </select>
                            <label for="key_Force Quit" class="form-label">Force Quit:</label>
                            <div class="form-check">
                                <input type="checkbox" id="key_Force Quit" name="key_Force Quit" value="1" {% if card['Force Quit'] == 1 %} checked {% endif %} class="form-check-input" data-toggle="toggle" />
                                <input type="hidden" name="key_Force Quit" value="0" />
                                <label for="key_Force Quit" class="form-check-label"></label>
                            </div>
                            <label for="key_Cornering Guide" class="form-label">Cornering Guide:</label>
                            <div class="form-check">
                                <input type="checkbox" id="key_Cornering Guide" name="key_Cornering Guide" value="1" {% if card['Cornering Guide'] == 1 %} checked {% endif %} class="form-check-input" data-toggle="toggle" />
                                <input type="hidden" name="key_Cornering Guide" value="0" />
                                <label for="key_Cornering Guide" class="form-check-label"></label>
                            </div>
                            <label for="key_Guide Line" class="form-label">Guide Line:</label>
                            <div class="form-check">
                                <input type="checkbox" id="key_Guide Line" name="key_Guide Line" value="1" {% if card['Guide Line'] == 1 %} checked {% endif %} class="form-check-input" data-toggle="toggle" />
                                <input type="hidden" name="key_Guide Line" value="0" />
                                <label for="key_Guide Line" class="form-check-label"></label>
                            </div>
                            <label for="key_Cup" class="form-label">Cup:</label>
                            <div class="form-check">
                                <input type="checkbox" id="key_Cup" name="key_Cup" value="1" {% if card['Cup'] == 1 %} checked {% endif %} class="form-check-input" data-toggle="toggle" />
                                <input type="hidden" name="key_Cup" value="0" />
                                <label for="key_Cup" class="form-check-label"></label>
                            </div>
                            <label for="key_Barricade" class="form-label">Barricade:</label>
                            <div class="form-check">
                                <input type="checkbox" id="key_Barricade" name="key_Barricade" value="1" {% if card['Barricade'] == 1 %} checked {% endif %} class="form-check-input" data-toggle="toggle" />
                                <input type="hidden" name="key_Barricade" value="0" />
                                <label for="key_Barricade" class="form-check-label"></label>
                            </div>
                            <label for="key_Ghost Car" class="form-label">Ghost Car:</label>
                            <div class="form-check">
                                <input type="checkbox" id="key_Ghost Car" name="key_Ghost Car" value="1" {% if card['Ghost Car'] == 1 %} checked {% endif %} class="form-check-input" data-toggle="toggle" />
                                <input type="hidden" name="key_Ghost Car" value="0" />
                                <label for="key_Ghost Car" class="form-check-label"></label>
                            </div>
                            <label for="key_Class" class="form-label">Class:</label>
                            <select id="key_Class" name="key_Class" class="form-control">
                                {% for option in options_map['Class'] %}
                                    <option value="{{ option }}" {% if card['Class'] == option %} selected {% endif %} data-image="{{ url_for('static', filename='D8/Class/' + option + '.png') }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                            <label for="key_Driver Points" class="form-label">Driver Points:</label>
                            <input type="text" id="key_Driver Points" name="key_Driver Points" value="{{ card['Driver Points'] }}" class="form-control" />
                            <label for="key_Driver Name" class="form-label">Driver Name:</label>
                            <input type="text" id="key_Driver Name" name="key_Driver Name" value="{{ card['Driver Name'] }}" class="form-control" />
                            <label for="key_Selected Cup" class="form-label">Selected Cup:</label>
                            <select id="key_Selected Cup" name="key_Selected Cup" class="form-control">
                                {% for option in options_map['Selected Cup'] %}
                                    <option value="{{ option }}" {% if card['Selected Cup'] == option %} selected {% endif %}>{{ option }}</option>
                                {% endfor %}
                            </select>
                            <label for="key_Tachometer" class="form-label">Tachometer:</label>
                            <select id="key_Tachometer" name="key_Tachometer" class="form-control">
                                {% for option in options_map['Tachometer'] %}
                                    <option value="{{ option }}" {% if card['Tachometer'] == option %} selected {% endif %}>{{ option }}</option>
                                {% endfor %}
                            </select>
                            <label for="key_Battle Stance" class="form-label">Battle Stance:</label>
                            <input type="text" id="key_Battle Stance" name="key_Battle Stance" value="{{ card['Battle Stance'] }}" class="form-control" />
                            <label for="key_Mileage" class="form-label">Mileage:</label>
                            <input type="text" id="key_Mileage" name="key_Mileage" value="{{ card['Mileage'] }}" class="form-control" />
                            <label for="key_Aura" class="form-label">Aura:</label>
                            <select id="key_Aura" name="key_Aura" class="form-control">
                                {% for option in options_map['Aura'] %}
                                    <option value="{{ option }}" {% if card['Aura'] == option %} selected {% endif %}>{{ option }}</option>
                                {% endfor %}
                            </select>
                            <label for="key_Title Effect" class="form-label">Title Effect:</label>
                            <input type="text" id="key_Title Effect" name="key_Title Effect" value="{{ card['Title Effect'] }}" class="form-control" />
                            <label for="key_Aura" class="form-label">Title:</label>
                            <select id="key_Title" name="key_Title" class="form-control">
                                {% for option in options_map['Title'] %}
                                    <option value="{{ option }}" {% if card['Title'] == option %} selected {% endif %}>{{ option }}</option>
                                {% endfor %}
                            </select>
                            <label for="key_Upload Scores" class="form-label">Upload Scores:</label>
                            <div class="form-check">
                                <input type="checkbox" id="key_Upload Scores" name="key_Upload Scores" value="1" {% if card['Upload Scores'] == 1 %} checked {% endif %} class="form-check-input" data-toggle="toggle" />
                                <input type="hidden" name="key_Upload Scores" value="0" />
                                <label for="key_Upload Scores" class="form-check-label"></label>
                            </div>
                        </div>
                    </div>
                    <!-- Right Column (Other Data Section) -->
                    <div class="col-md-6">
                        <h2 class="text-left">Avatar</h2>
                        <div class="row">
                            <div class="col-md-auto">
                                <div style="width: 256px; height: 256px;">
                                    <img class="position-absolute" src="{{ url_for('static', filename='D8/BG/' + str(card['My Frame']) + '_bg.png') }}">
                                    <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][0]) + '.png') }}">
                                    <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][1]) + '.png') }}">
                                    <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][2]) + '.png') }}">
                                    <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][3]) + '.png') }}">
                                    {% if int(card['Avatar'][6]) != 0 %}
                                        <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][5]) + '.png') }}">
                                        <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][6]) + '_bg.png') }}">
                                        <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][6]) + '_fg.png') }}">
                                    {% else %}
                                        {% if int(card['Avatar'][5]) != 0 %}
                                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][4]) + '.png') }}">
                                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][5]) + '_bg.png') }}">
                                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][5]) + '_fg.png') }}">
                                        {% else %}
                                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][4]) + '_bg.png') }}">
                                            <img class="position-absolute" src="{{ url_for('static', filename='D8/' + card['Avatar Gender'] + '/' + str(card['Avatar'][4]) + '_fg.png') }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <label for="key_{{ 'Avatar Gender' }}" class="form-label">{{ 'Avatar Gender' }}:</label>
                                <select id="key_{{ 'Avatar Gender' }}" name="key_{{ 'Avatar Gender' }}" class="form-control">
                                    {% for option in options_map['Avatar Gender'] %}
                                        <option value="{{ option }}" {% if card['Avatar Gender'] == option %} selected {% endif %}>{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Store Name: {{ card['Store Name'] }}</p>
                                <p>Play Count: {{ card['Play Count'] }}</p>
                                <p>Total In-Store Plays: {{ card['Total In-Store Plays'] }}</p>
                                <p>Total In-Store Plays: {{ card['Total In-Store Wins'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-courseinfo" role="tabpanel" aria-labelledby="nav-courseinfo-tab">
                <h2 class="text-left">Course Times</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Time</th>
                            <th>Time to Specialist</th>
                            <th>Time to Platinum</th>
                            <th>Car Make</th>
                            <th>Car Model</th>
                            <th>Lap 1</th>
                            <th>Lap 2</th>
                            <th>Lap 3</th>
                            <th>Lap 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in card["Courses"] %}
                        <tr>
                            <td>{{ course }}</td>
                            <td>{{ card['Courses'][course]["Time"] }}</td>
                            {% if card['Courses'][course]["Time"][0] == '0' %}
                                <td>Not Played</td>
                                <td>Not Played</td>
                            {% else %}
                                <td {% if card['Courses'][course]["Time to Specialist"][0] == '-' %} class='text-success' {% else %} class='text-danger' {% endif %}>{{ card['Courses'][course]["Time to Specialist"] }}</td>
                                <td {% if card['Courses'][course]["Time to Platinum"][0] == '-' %} class='text-success' {% else %} class='text-danger' {% endif %}>{{ card['Courses'][course]["Time to Platinum"] }}</td>
                            {% endif %}
                            <td>{{ card['Courses'][course]["Car Make"] }}</td>
                            <td>{{ card['Courses'][course]["Car Model"] }}</td>
                            <td>{{ card['Courses'][course]["Lap 1"] }}</td>
                            <td>{{ card['Courses'][course]["Lap 2"] }}</td>
                            <td>{{ card['Courses'][course]["Lap 3"] }}</td>
                            <td>{{ card['Courses'][course]["Lap 4"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="text-left">Course Proficiency: {{ card['Course Proficiency']}}</p>
            </div>
            <div class="tab-pane fade" id="nav-storyprogress" role="tabpanel" aria-labelledby="nav-storyprogress-tab">
                <h2 class="text-left">Story Wins: {{ card['Story Wins'] }}</h2>
                <h2 class="text-left">Story Losses: {{ card['Story Losses'] }}</h2>
                <h2 class="text-left">Infinity Rank: {{ card['Infinity Rank'] }}</h2>
                {% for i in range(1, len(card["Story Progress"])+1) %}
                    <div class="d-flex p-4">
                        <img class="image-chapter" src="{{ url_for('static', filename='D8/Story/Chapter/' + i|string + '.png')}}">
                        {% if card["Story Progress"][str(i)][len(card["Story Progress"][str(i)])-1][1] %}
                        <img class="image-summary" src="{{ url_for('static', filename='D8/Story/SC.png')}}">
                        {% elif card["Story Progress"][str(i)][len(card["Story Progress"][str(i)])-1][0] %}
                        <img class="image-summary" src="{{ url_for('static', filename='D8/Story/RS.png')}}">
                        {% endif %}
                        {% for j in range(len(card["Story Progress"][str(i)])-1) %}
                        <div class="image-container" style="position: relative">
                            <img id="image1" class="image-episode" src="{{ url_for('static', filename='D8/Story/1.png')}}">
                            <img class="image-episode image-episode-rival" src="{{ url_for('static', filename='D8/Story/RivalPortrait/' + card['Story Progress'][str(i)][j][2] + '.png' )}}">
                            <img id="image2" class="image-episode image-episode-frame" src="{{ url_for('static', filename='D8/Story/3.png')}}">
                            {% if card["Story Progress"][str(i)][j][1] == 'SS' %}
                                <img class="image-episode image-episode-frame image-episode-class" src="{{ url_for('static', filename='D8/Story/SS.png')}}">
                            {% elif card["Story Progress"][str(i)][j][1] == 'S' %}
                                <img class="image-episode image-episode-frame image-episode-class" src="{{ url_for('static', filename='D8/Story/S.png')}}">
                            {% elif card["Story Progress"][str(i)][j][1] == 'A' %}
                                <img class="image-episode image-episode-frame image-episode-class" src="{{ url_for('static', filename='D8/Story/A.png')}}">
                            {% endif %}
                            {% if j == len(card["Story Progress"][str(i)])-2 %}
                                <img class="image-episode image-episode-frame image-episode-title" src="{{ url_for('static', filename='D8/Story/Episode/PublicRoads.png') }}">
                            {% elif j == len(card["Story Progress"][str(i)])-3 %}
                                <img class="image-episode image-episode-frame image-episode-title" src="{{ url_for('static', filename='D8/Story/Episode/Final.png') }}">
                            {% else %}
                                <img class="image-episode image-episode-frame image-episode-title" src="{{ url_for('static', filename='D8/Story/Episode/' + str(j+1)|string + '.png')}}">
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-cars" role="tabpanel" aria-labelledby="nav-cars-tab">
                <h2 class="text-left">Number of Cars: {{ card["Number of Cars"] }}</h2>
                <label for="key_{{ 'Current Car' }}" class="form-label">{{ 'Current Car' }}:</label>
                <div class="form-group p-2">
                    <select id="key_{{ key }}" name="key_{{ key }}" class="form-control">
                        {% for i in range(1, card['Number of Cars']+1) %}
                            <option value="{{ i }}" {% if card['Current Car'] == i %} selected {% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="key_{{ 'Current Car' }}" name="key_{{ 'Current Car' }}" value="{{ card['Current Car'] }}" />
                </div>
                <div class="row justify-content-md-center">
                    {% for i in range(card["Number of Cars"]) %}
                    <div class="col-4 text-center">
                        <h1><b>CAR {{ i + 1}}</b></h1>
                        <h3>{{ card['Cars'][i]['Make'] }}</h3>
                        <h5>{{ card['Cars'][i]['Model'] }}</h5>
                        <img style="width: 410px; height: 230px;"src="{{ url_for('static', filename='D8/Cars/' + card['Cars'][i]['Make'] + '_' + replace(card['Cars'][i]['Model'])) + '_IDAS8' + '.webp' }}">
                        <div class="bg-white rounded text-black p-1 car-license-plate">
                            <p class="justify-content-center align-items-center d-flex" style="margin-bottom: 0px;"><span class="numplate-prefecture">{{ card['Cars'][i]['Numplate Prefecture'] }}</span><span class="numplate-class-code">{{ card['Cars'][i]['Numplate Class Code'] }}</span></p>
                            <p class="justify-content-center align-items-center d-flex" style="margin-bottom: 0px;"><span class="numplate-hirigana">{{ card['Cars'][i]['Numplate Hirigana'] }}</span> <span class="numplate-plate-number">{{ card['Cars'][i]['Numplate Plate Number'] }}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-left mt-4">
                <button type="submit" class="btn btn-primary">Apply Changes</button>
            </div>
        </div>
    </div>
</form>
<script>
    document.querySelectorAll('.sensitivity-btn').forEach(function(button) {
        if (button.classList.contains('active')) {
            var value = button.getAttribute('data-value');
            var hiddenInput = document.getElementById('key_Wheel Sensitivity');
            hiddenInput.value = value;
        }
        button.addEventListener('click', function() {
            var value = this.getAttribute('data-value');
            var hiddenInput = document.getElementById('key_Wheel Sensitivity');
            hiddenInput.value = value;
            document.querySelectorAll('.sensitivity-btn').forEach(function(btn) {
                btn.classList.remove('active');
            });
            this.classList.add('active');
        });
    });
</script>
<script>
    const imageContainers = document.querySelectorAll('.image-container');
    imageContainers.forEach(container => {
        const image1 = container.querySelector('img:nth-of-type(1)');
        const image2 = container.querySelector('img:nth-of-type(3)');

        container.addEventListener('mouseover', function() {
            image1.src = '{{ url_for("static", filename="D8/Story/2.png") }}';
            image2.src = '{{ url_for("static", filename="D8/Story/4.png") }}';
        });

        container.addEventListener('mouseout', function() {
            image1.src = '{{ url_for("static", filename="D8/Story/1.png") }}';
            image2.src = '{{ url_for("static", filename="D8/Story/3.png") }}';
        });
    });
</script>

{% endblock %}
